{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr class="table-primary">
                        <th>Id</th>
                        <th>Type</th>
                        <th>Prix</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.type }}</td>
                            <td>{{ reservation.prix }}</td>
                            <td>
                                <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}" class="btn btn-secondary ">show</a>
                                <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-success">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{{ path('app_reservation_new') }}" class="btn btn-primary mt-3">Create new</a>
{% endblock %}
